/*** GENERICS ***/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { font-family: 'Titillium Web', sans-serif; }

.button {
    width: fit-content;
    padding: 0.5em 1em;
}

.button:hover {
    color: blue;
    background-color: rgb(136, 211, 237);
    border: 2px solid blue;
}

h2 { 
    font-size: 2.5em; 
    line-height: 1.2em;
}

h3 { 
    font-size: 1.5em;
    line-height: 1em;
}

#buyNow, #findOut:visited {
    color: #1B1BF0;
}

                            /*** HEADER ***/
header {
    z-index: 999;
    top: 0;
    height: 4em;
}

.header-logo {
    margin: 0 25px;
}

.header-link, .button {
    text-decoration: none;
    color: black;
}
                            /*** MAIN ***/
main {
    padding-top: 4em;
}

/* jumbotron */
.jumbotron {
    margin-bottom: 5em;
}

.jumbotron h1 {
    font-size: 4.5em;
    line-height: 1.2em;
    margin-bottom: 0.7em;
}

.jumbotext {
    margin-bottom: 1.5em;
}

#bigArrow {
    font-size: 2em;
}

.jumbopic {
    margin-bottom: -64px;
}

/* billing plans */
.companies, .FAQ {
    min-height: 100vh;
}

.radios {
    font-size: 0.8em;
    margin: 32px auto;
}

.radio-btn {
    vertical-align: middle;
    accent-color: #0061FF;
    color: invert;
}

.plan-column {
    min-height: 30vh;
}

.plan-column span {
    font-size: 0.9em;
    padding: 8px 0;
}

.column-head {
    text-align: center;
}

.plan-info {
    padding: 8px 24px 24px 24px;
}

#trial {
    text-align: center;
}

#trial-btn {
    padding: 0.3em 1.5em;
    display: inline-block;
    width: 14em;
}

.border-gray {
    top: -2px;
    width: 60px;
    height: 0.1em;
}

.price {
    font-weight: 800;
}

/* find partners */
.partner {
    margin: 100px 0;
}

.partner p {
    font-size: 0.9em;
    padding: 16px 0 32px;
}

#partner-btn {
    display: inline-block;
    padding: 0.2em 0.5em;
}

/* half mln */
#findOut { display: inline-block;}

/* members */
.square-container {
    width: calc(100% / 3);
}

.member-box {
    height: 50%;
}

.member-box img {
    width: 60%;
    filter: invert(1);
}

#centralSquare {
    overflow-y: scroll;
}

#centralSquare > p {
    font-size: 0.9em;
}

#author {
    padding-bottom: 9em;
}

/* free trial */
#startTrial {
    padding: 0.4em 3em
}

                            /*** FOOTER ***/
ul {
    list-style: none;
}

ul > h3 {
    padding-bottom: 16px;
}

