/*** GENERICS ***/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

.button {
    width: fit-content;
    width: -moz-fit-content;
    padding: 0.5em 1em;
}

/*** HEADER ***/
header {
    z-index: 999;
    top: 0;
    height: 4em;
}

.header-logo {
    margin: 0 25px;
}

.header-link, .button {
    text-decoration: none;
    color: black;
}

/*** MAIN ***/
main {
    padding-top: 4em;
}

/* jumbotron */
.jumbotron {
    margin-bottom: 30vh;
}

.jumbotron h1 {
    font-size: 4.5em;
    line-height: 1.2em;
    margin-bottom: 0.7em;
}

.jumbotext {
    margin-bottom: 1.5em;
}

#bigArrow {
    font-size: 2em;
    margin-bottom: -16px;
}

.jumbopic {
    margin-bottom: -85px;
}

/* billing plans */
section, footer {
    min-height: 100vh;
}

.billing-plans h2 {
    font-size: 2.5em;
}

.radios {
    font-size: 0.8em;
    margin: 32px auto;
}

.radio-btn {
    vertical-align: middle;
    accent-color: #0061FF;
    color: invert;
}

.plan-column {
    min-height: 30vh;
}

.plan-column span {
    font-size: 0.9em;
    padding: 8px 0;
}

.column-head {
    text-align: center;
}

.plan-info {
    padding: 8px 24px 24px 24px;
}

#trial {
    text-align: center;
}

#trial-btn {
    padding: 0.3em 1.5em;
    display: inline-block;
    width: 14em;
}

.border-gray {
    top: -2px;
    width: 60px;
    height: 0.1em;
}

